# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Jupyter
.ipynb_checkpoints/

# Environment
.env
venv/
eye_keyboard_env/

# Logs & data
*.log
*.csv
data/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
